<div class="wrapper col_100">
    <ul class="breadcrumb panel">
        <li><a><i class="fa fa-home"></i>修改密码</a></li>
    </ul>

    <div class="row">
        <div class="col-lg-5">
            <section class="panel">
                <header class="panel-heading">
                    修改密码
                </header>
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="inputEmail1" class="col-lg-4 col-sm-4 control-label">原密码<span class="requiredstyle">*</span>：</label>
                            <div class="col-lg-6">
                                <input type="password" autocomplete="off" class="form-control" ng-model="OldPwd">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail1" class="col-lg-4 col-sm-4 control-label">新密码<span class="requiredstyle">*</span>：</label>
                            <div class="col-lg-6">
                                <input type="password" autocomplete="off" class="form-control" ng-model="NewPwd">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail1" class="col-lg-4 col-sm-4 control-label">确认新密码<span class="requiredstyle">*</span>：</label>
                            <div class="col-lg-6">
                                <input type="password" autocomplete="off" class="form-control" ng-model="ConfirmNewPwd">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-4 col-lg-10">
                                <button type="submit" class="btn btn-danger" ng-click="changepwd()">保存</button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>

        </div>
    </div>

</div>