<div class="wrapper">
    <ul class="breadcrumb panel">
        <li><a><i class="fa fa-home"></i>test</a></li>
    </ul>
    <div class="panel">
        <div class="panel-heading">

            <div class="form-inline">
                <input type="button" value="添加类别" ng-click="open()" class="btn btn-danger" />
            </div>
        </div>
        <div class="panel-body">
            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table table-bordered table-striped table-condensed">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>操作</th>
                    <!--<th class="clear_bg">操作</th>-->
                </tr>
                <tr ng-repeat="item in list">
                    <td>{{item.ID}}</td>
                    <td>{{item.name}}</td>
                    <td><input type="button" value="删除" ng-click="delete(item.ID)" class="btn btn-danger" /></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="zhezhao" ng-show="isShow">
    <div class="Mask  modal-dialog">
        <div class="styleCurrentLocal"><b>添加测试数据</b></div>
        <div class="styleFillList">
            <dl class="fill_single"><dt>Name<span class="requiredstyle">*</span>：</dt><dd><input type="text" ng-model="name" /></dd></dl>

            <div class="styleButton">
                <input type="button" value="保存" class="btn_confirm" ng-click="AddTestData()">
                <input type="button" value="取消" class="btn_cancel" id="closeBtn" ng-click="close()">
            </div>
        </div>
    </div>
</div>
