
<div class="wrapper">
    <ul class="breadcrumb panel">
        <li><a><i class="fa fa-home"></i>互推公司</a></li>
    </ul>
    <div class="panel">
        <div class="panel-heading">
            <div style="margin-bottom:12px;">您旗下共有<span style="color:red;"> {{tj_all}} </span>家企业：其中<span style="color:red;"> {{tj_open}} </span> 家已开启互推功能，<span style="color:red;"> {{tj_disabled}} </span>家未开启互推功能</div>
            <form>
                <div class="btn-group pull-left" style="margin-right:12px;">
                    <select class="form-control" ng-model="ep_disabled" style="margin-right:12px;" ng-change="search()">
                        <option value="-1"  selected="selected">所有</option>
                        <option value="0">互推中</option>
                        <option value="1">未互推</option>
                    </select>


                </div>
                <div class="btn-group pull-left" style="margin-right:12px;">
                    <select class="form-control pull-left" ng-model="ep_category_id" ng-change="search()">
                        <option value="-1">所有行业</option>
                        <option ng-repeat="(key,value) in ep_categorys" ng-selected="{{key==ddlCategory}}" ng-model="key" value="{{key}}">{{value}}</option>
                    </select>
                </div>
                <div class="btn-group pull-left" style="margin-right:12px;">
                    <select class="form-control pull-left" ng-model="scale" style="margin-right:12px;" ng-change="search()">
                        <option value="-1">所有规模</option>
                        <option value="0~20">少于20人</option>
                        <option value="20~50">20-50人</option>
                        <option value="50~100">50-100人</option>
                        <option value="100~">大于100人</option>
                    </select>
                </div>
                <div class="form-inline">
                    <div class=" form-group">
                        <input id="searchValue" placeholder="输入公司名称" type="text" ng-model="keyword" autocomplete="off" class="form-control" />
                    </div>
                    <input id="searchBtn" type="submit" value="搜索" ng-click="search()" class="btn btn-danger" />
                </div>
            </form>
        </div>
        <div class="panel-body">
            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table table-bordered table-striped table-condensed">
                <tr>
                    <th>公司名称</th>
                    <th>行业</th>
                    <th>规模</th>
                    <th>总曝光</th>
                    <th>总点击</th>
                    <th>状态</th>
                    <th class="clear_bg">操作
                        <div class="tiptool">
                            <div class="fa fa-exclamation-circle"></div>
                            <div class="tooltip left">
                                <div class="tooltip-arrow"></div>
                                <div class="tooltip-inner">
                                    【查看详情】<br />可查看/操作企业的互推基本数据及广告模板<br />
                                    【互推数据】<br />可查看企业的详细互推统计数据<br />
                                    【开启/关闭互推】<br />可开启/关闭企业的互推功能，关闭后企业将无权限使用该功能
                                </div>
                            </div>
                        </div>
                    </th>
                </tr>
                <tr ng-repeat="item in list">
                    <!-- <td><input type="checkbox" /></td> -->
                    <td>{{item.company}}</td>
                    <td>{{item.category_name}}</td>
                    <td>{{item.member_count}}</td>
                    <td>{{item.look_nums}}</td>
                    <td>{{item.click_nums}}</td>
                    <td>{{item.state_name}}</td>
                    <td class="td_handle">
                        <a href="javascript:void(0)" ng-show="item.disabled==0" ng-click="ToEp_enterprise_detail(item.agency_id)">查看详情</a>
                        <a href="javascript:void(0)" ng-show="item.disabled==0" ng-click="ToEp_enterprise_date(item.agency_id)">互推数据</a>
                        <!--disabled-->
                        <a href="javascript:void(0)" ng-click="SetEp_Disabled(item,item.disabled==1?0:1)">{{item.disabled==1?"开启互推":"关闭互推"}}</a>
                    </td>
                </tr>
            </table>
            <div class="CountTotal">
                <div class="dataTables_paginate paging_bootstrap pagination">
                    <ul>
                        <li><a href="javascript:void(0)" ng-click="pager.pre()">← 上一页</a></li>
                        <li ng-repeat="item in pager.list">
                            <a href="javascript:void(0)" ng-if="item.text =='.'">{{item.text}}</a>
                            <a href="javascript:void(0)" ng-if="item.text != '.'&& !item.disabled " class="c_page">{{item.text}}</a>
                            <a href="javascript:void(0)" ng-if="item.text != '.'&& item.disabled" ng-click="pager.go(item.index)">{{item.text}}</a>
                        </li>
                        <li><a href="javascript:void(0)" ng-click="pager.next()">下一页 →</a></li>
                    </ul>
                </div>
                <span>共<b>{{count}}</b>条记录</span>
            </div>
        </div>
    </div>
</div>

<!-- 点击开启行业设置编辑页面 -->
<div class="zhezhao" ng-show="isOpen">
    <div class="cdmxtc_mdiv Mask  modal-dialog">
        <div class="styleCurrentLocal"><b>开启企业互推功能</b></div>
        <div class="modal-body">
            <div class="modal-body">
                <p class="text-center" style="width: 80%;margin:16px auto;">企业互推能帮助企业快速推广品牌和产品。为了推广更精准，开通此功能前请先设置企业所在的行业。</p>
                <div class="col-sm-12 col-xs-12 ">
                    <select class="form-control m-bot15" id="select_ep_category" ng-model="CatOne" ng-change="GetEp_CatTwoLevel()">
                        <option value="0">公司一级行业分类</option>
                        <option ng-repeat="(key,value) in ep_categorys" ng-selected="{{key==CatOne}}" value="{{key}}" ng-model="key">{{value}}</option>
                    </select>
                </div>
                <div ng-show="CatOne != 0" class="col-sm-12 col-xs-12 ">
                    <select class="form-control m-bot15" id="select_ep_cat_two">
                        <option value="0">公司二级行业分类</option>
                        <option ng-repeat="(key,value) in ep_categorytwos" value="{{key}}" ng-model="key">{{value}}</option>
                    </select>
                </div>
                <p class="text-center" style="width: 80%;margin:16px auto;color:red;">提示：企业所属行业一经设置，无法修改。</p>
            </div>
        </div>

        <div class="styleButton">
            <input type="button" value="取消" class="btn_cancel" ng-click="close()">
            <input type="button" value="确认开启互推" class="btn_confirm" ng-click="EnabledEp()">
        </div>
    </div>
</div>