<div class="wrapper">
    <ul class="breadcrumb panel">
        <li><a><i class="fa fa-home"></i>企业版管理</a></li>
    </ul>
    <div class="panel">
        <div class="panel-heading">
            <form>
                <ul class="btn-group pull-left" style="margin-right:12px;">
                    <li><a class="btn btn-success" ng-click="open()">新增企业版 <i class="fa fa-plus"></i></a></li>
                </ul>
                <ul ng-show="levelId==-1" class="btn-group pull-left" style="margin-right:12px;">
                    <li><a class="btn btn-info" target="_blank" href="{{ExportHref}}">导出</a></li>
                </ul>
                <!-- 日期选择：<input type="text" class="input_l date_picker " /> -->
                <!--<div date-tool="DateRange" ng-hide="1==1" class="styleFillList menuFillList fl">
                    <input type="text" readonly="readonly" name="reservation" id="reservation" class="order_date" placeholder="选择日期" ng-model="DateRange" onclick="$('.date_picker').date_input();" />
                </div>-->
                <div class="btn-group pull-left" style="margin-right:12px;" ng-show="levelId==-1">
                    <select ng-model="TprovinceAreaId" ng-change="getTCityArea()" class="form-control">
                        <!--<option value="-1">所有</option>-->
                        <option value="0">所有</option>
                        <option ng-repeat="(key, value) in provinceAreas" ng-selected="{{key==TprovinceAreaId}}" ng-model="key" value="{{key}}">{{value}}</option>
                    </select>
                </div>
                <div class="btn-group pull-left" style="margin-right:12px;" ng-show="TprovinceAreaId!=-1 && TprovinceAreaId!=0">
                    <select ng-model="TcityAreaId" class="form-control">
                        <option value="-1">请选择城市</option>
                        <option ng-repeat="(key, value) in cityAreas" ng-selected="{{key==TcityAreaId}}" ng-model="key" value="{{key}}">{{value}}</option>
                    </select>
                </div>
                <div class="btn-group pull-left" style="margin-right:12px;">

                    <select ng-model="orderindex" ng-change="order()" class="form-control">
                        <!--<option value="-1">默认排序</option>-->
                        <!--<option value="0" ng-selected="{{orderindex==0||orderindex==null}}">默认排序</option>-->
                        <option ng-repeat="item in orderlist" ng-selected="{{item['id']==orderindex}}" ng-model="item['id']" value="{{item['id']}}">{{item.name}}</option>
                    </select>
                </div>
                <div class="btn-group pull-left" style="margin-right:12px;">
                    <select ng-model="EpCategoryIdOne" class="form-control" ng-change="GetEpCategoryIds(EpCategoryIdOne)">
                        <option value="-1" ng-click="resetsearch()">行业一级分类</option>
                        <option ng-repeat="(key, value) in EpCategoryLeverOneIds" ng-selected="{{key==EpCategoryIdOne}}" ng-model="key" value="{{key}}">{{value}}</option>
                    </select>
                </div>
                <div class="btn-group pull-left" style="margin-right:12px;">
                    <select ng-show="EpCategoryIdOne!=-1 && EpCategoryIdOne !=0" ng-model="EpCategoryIdTwo" class="form-control" ng-change="search()">
                        <option value="-1" ng-click="resetsearch()">行业二级分类</option>
                        <option ng-repeat="(key, value) in EpCategoryLeverTwoIds" ng-selected="{{key==EpCategoryIdTwo}}" ng-model="key" value="{{key}}">{{value}}</option>
                    </select>
                </div>
                <div class="form-inline">
                    <div class=" form-group">
                        <input id="searchValue" placeholder="企业版帐号/联系人/公司名称" type="text" ng-model="keyWord" autocomplete="off" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input id="searchValue" placeholder="上级代理商帐号/联系人/公司名称" type="text" ng-model="parent_keyword" autocomplete="off" class="form-control" />
                    </div>
                    <input id="searchBtn" type="submit" value="搜索" ng-click="search()" class="btn btn-info" />
                </div>
            </form>
        </div>
        <div class="panel-body">
            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="table table-bordered table-striped table-condensed">
                <tr>
                    <!-- <th class="th_slt"><input type="checkbox" name="all" id="all"/></th> -->
                    <th ng-show="levelId==-1">ID</th>
                    <th>联系人</th>
                    <th>公司名称</th>
                    <th>手机号码</th>
                    <th>上级代理</th>
                    <th>城市</th>
                    <th>行业</th>
                    <th ng-hide="levelId==0">推广费</th>
                    <th>激活码数量</th>
                    <!--<th>激活码未使用数量</th>-->
                    <th>类型</th>
                    <th>备注</th>
                    <th>开通时间</th>
                    <!--<th>修改时间</th>-->
                    <th class="clear_bg">操作</th>
                </tr>
                <tr ng-repeat="item in list">
                    <!-- <td><input type="checkbox" /></td> -->
                    <td ng-show="levelId==-1">{{item.agencyId}}</td>
                    <td><a href="javascript:void(0)" ng-click="ToDetail(item.agencyId)">{{item.agencyName}}</a></td>
                    <td>{{item.company}}</td>
                    <td>{{item.mobile}}</td>
                    <td>{{item.parentAgency}}</td>
                    <td>{{item.city}}</td>
                    <td>{{item.category_name}}</td>
                    <td ng-hide="levelId==0">{{item.balance==null?0:item.balance}}</td>
                    <td><a href="/membertool/Index.aspx#/activecodelist/{{item.agencyId}}">{{item.activeAlreadyUsedCount}}/{{item.activeCount}}</a></td>
                    <!--<td>{{item.activeNotUsedCount}}</td>-->
                    <td>{{level(item.agencyLevelId)}}&nbsp;{{type(item.agencyTypeId)}}</td>
                    <td style="max-width:200px;overflow-wrap:break-word">{{item.remark}}</td>
                    <td>{{item.createDate}}</td>
                    <!--<td>{{item.modifyDate}}</td>-->
                    <td class="td_handle">
                        <!--<a href="javascript:void(0)" class="deleat">删除</a>-->
                        <a class="label label-info" href="javascript:void(0)" ng-click="ToDetail(item.agencyId)">查看详情</a>
                        <a class="label label-info" href="javascript:void(0)" ng-show="levelId==-1" ng-click="ToEnterpriseDetail(item.agencyId)">推广数据</a>
                        <a class="label label-info" href="javascript:void(0)" ng-show="levelId==-1" ng-click="ToMemberarticlelist(item.agencyId)">推广文章</a>
                        <a class="label label-warning" href="javascript:void(0)" ng-click="openEdit(item)">修改</a>
                        <a class="label label-success" href="javascript:void(0)" ng-show="levelId!=-1" ng-click="openSplit(item)">添加激活码</a>
                        <!--<a href="javascript:void(0)" ng-show="levelId==1" ng-click="isOpenPartnerAddEnterpriseUser(item.agencyId)">合并企业版</a>-->
                        <!--<a href="javascript:void(0)" ng-click="isOpenAddEnterpriseUser(item.agencyId)">添加绑定帐号</a>-->
                        <a class="label label-success" href="javascript:void(0)" ng-show="levelId==-1" ng-click="isOpenImport(item.agencyId)">导入企业账户</a>
                        <a class="label label-success" href="javascript:void(0)" ng-click="isOpenAddRemark(item.agencyId)">添加备注</a>
                        <a class="label label-danger" href="javascript:void(0)" ng-show="levelId==-1" ng-click="resetPassword(item.agencyId)">重置密码</a>
                        <!--<a href="javascript:void(0)" ng-show="IsAll==0" ng-click="ToAddAdvert(item.agencyId)">添加推广</a>-->
                        <a class="label label-danger" href="javascript:void(0)" ng-show="levelId==-1" ng-click="delAgency(item)">删除</a>

                    </td>
                </tr>
            </table>
            <div class="CountTotal">
                <div class="dataTables_paginate paging_bootstrap pagination">
                    <style>
                        /*跳转*/
                        input::-webkit-outer-spin-button,
                        input::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                        }

                        input[type="number"] {
                            -moz-appearance: textfield;
                        }
                    </style>
                    <ul>
                        <li><input type="number" name="name" ng-model="pindex" style="width:40px;margin: 0 3px;" /><a ng-click="pager.go(pindex)">前往</a></li>
                        <li><a href="javascript:void(0)" ng-click="pager.pre()">← 上一页</a></li>
                        <li ng-repeat="item in pager.list">
                            <a href="javascript:void(0)" ng-if="item.text =='.'">{{item.text}}</a>
                            <a href="javascript:void(0)" ng-if="item.text != '.'&& !item.disabled " class="c_page" style="color:#6591ce">{{item.text}}</a>
                            <a href="javascript:void(0)" ng-if="item.text != '.'&& item.disabled" ng-click="pager.go(item.index)">{{item.text}}</a>
                        </li>
                        <li><a href="javascript:void(0)" ng-click="pager.next()">下一页 → </a></li>
                    </ul>
                </div>
                <span>共<b>{{count}}</b>条记录</span>
                <!-- <span>页数：<b>2</b>/<b>102</b>页</span> -->
            </div>
        </div>
    </div>
</div>
<!--创建企业版-->
<div class="zhezhao" ng-show="isShow">
    <div class="cdmxtc_mdiv Mask modal-dialog">
        <div class="styleCurrentLocal"><b>企业版</b>
            <button type="button" class="close" ng-click="close()">&times;</button>
        </div>
        <div class="styleFillList">
            <dl class="fill_single">
                <dt>类型<span class="requiredstyle">*</span>：</dt>
                <dd>
                    <select class="drop-menu" ng-options="a.Id as a.Name for a in AgencyLevels" ng-model="childAgency.ChildAgencyLevelId" ng-change="levelchage()"></select>
                    <select ng-show="childAgency.ChildAgencyLevelId == 2" class="drop-menu" ng-options="a.Id as a.Name for a in AgencyTypes" ng-model="childAgency.ChildAgencyTypeId"></select>
                </dd>
            </dl>
            <dl ng-show="levelId==-1" class="fill_single">
                <dt>地区<span class="requiredstyle">*</span>：</dt>
                <dd>
                    <select ng-model="provinceAreaId" ng-change="getChildCityAreas()" class="drop-menu">
                        <option value="-1">请选择省份</option>
                        <option ng-repeat="(key, value) in provinceAreas" ng-selected="{{key==provinceAreaId}}" ng-model="key" value="{{key}}">{{value}}</option>
                    </select>
                    <select ng-show="provinceAreaId!=1 && provinceAreaId!=0" ng-model="cityAreaId" class="drop-menu">
                        <option value="-1">请选择城市</option>
                        <option ng-repeat="(key, value) in cityAreas" ng-selected="{{key==cityAreaId}}" ng-model="key" value="{{key}}">{{value}}</option>
                    </select>
                </dd>
            </dl>
            <dl class="fill_single">
                <dt>行业<span class="requiredstyle">*</span>：</dt>
                <dd>
                    <select ng-model="editCategoryIdOne" class="drop-menu" ng-change="GetCategoryIds(editCategoryIdOne)">
                        <option value="-1">行业一级分类</option>
                        <option ng-repeat="(key, value) in EpCategoryLeverOneIds" ng-selected="{{key==editCategoryIdOne}}" ng-model="key" value="{{key}}">{{value}}</option>
                    </select>
                    <select ng-model="editCategoryIdTwo" class="drop-menu">
                        <option value=" -1">行业二级分类</option>
                        <option ng-repeat="(key, value) in CategoryLeverTwoIds" ng-selected="{{key==editCategoryIdTwo}}" ng-model="key" value="{{key}}">{{value}}</option>
                    </select>
                </dd>
            </dl>
            <dl class="fill_single"><dt>公司名称<span class="requiredstyle">*</span>：</dt><dd><input type="text" ng-model="Company" /></dd></dl>
            <dl class="fill_single"><dt>联系人<span class="requiredstyle">*</span>：</dt><dd><input type="text" ng-model="AgencyName" /></dd></dl>
            <dl class="fill_single"><dt>联系方式：</dt><dd><input type="text" ng-readonly="AgencyId>0" ng-model="MobilePhone" /></dd></dl>
            <dl class="fill_single" ng-show="levelId==-1"><dt>推广折扣：</dt><dd><input type="number" step="0.1" max="1" min="0" ng-model="sale" /></dd></dl>
            <!--<dl class="fill_single"><dt>状态：</dt><dd><select class="drop-menu" ng-options="a.Id as a.Name for a in Statuss" ng-model="StatusId"></select></dd></dl>-->
            <dl class="fill_single"><dt>联系地址<span class="requiredstyle">*</span>：</dt><dd><input type="text" ng-model="Address" /></dd></dl>
            <div ng-show="AgencyId==0">
                <!--身份证正面-->
                <dl class="fill_single">
                    <dt>身份证正面<span class="requiredstyle" ng-show="levelId!=-1">*</span>：</dt>
                    <dd>
                        <input ng-hide="card_p!=undefined && card_p!=''" accept="image/*" type="file" ngf-select ng-model="filecard_p" ngf-max-size="10MB" required
                               ngf-model-invalid="errorFile" ngf-change="uploadImg(filecard_p,'card_p')" />
                        <div class="imgclose">
                            <img ng-show="card_p!=undefined && card_p!=''" src="{{card_p}}" style="float:left;" class="count_20" /><i ng-show="card_p!=undefined && card_p!=''" ng-click="clearImg('card_p')"></i>
                        </div>
                    </dd>
                </dl>
                <!--身份证反面-->
                <dl class="fill_single">
                    <dt>身份证反面<span class="requiredstyle" ng-show="levelId!=-1">*</span>：</dt>
                    <dd>
                        <input ng-hide="card_s!=undefined && card_s!=''" accept="image/*" type="file" ngf-select ng-model="filecard_s" ngf-max-size="10MB" required
                               ngf-model-invalid="errorFile" ngf-change="uploadImg(filecard_s,'card_s')" />
                        <div class="imgclose">
                            <img ng-show="card_s!=undefined && card_s!=''" src="{{card_s}}" style="float:left;" class="count_20" /><i ng-show="card_s!=undefined && card_s!=''" ng-click="clearImg('card_s')"></i>
                        </div>
                    </dd>
                </dl>
                <!--营业执照-->
                <dl class="fill_single">
                    <dt>营业执照<span class="requiredstyle" ng-show="levelId!=-1">*</span>：</dt>
                    <dd>
                        <input ng-hide="license!=undefined && license!=''" accept="image/*" type="file" ngf-select ng-model="filelicense" ngf-max-size="10MB" required
                               ngf-model-invalid="errorFile" ngf-change="uploadImg(filelicense,'license')" />
                        <div class="imgclose">
                            <img ng-show="license!=undefined && license!=''" src="{{license}}" style="float:left;" class="count_20" /><i ng-show="license!=undefined && license!=''" ng-click="clearImg('license')"></i>
                        </div>
                    </dd>
                </dl>
                <!--其他-->
                <dl class="fill_single">
                    <dt>其他：</dt>
                    <dd>
                        <input ng-hide="other!=undefined && other!=''" accept="image/*" type="file" ngf-select ng-model="fileother" ngf-max-size="10MB" required
                               ngf-model-invalid="errorFile" ngf-change="uploadImg(fileother,'other')" />
                        <div class="imgclose">
                            <img ng-show="other!=undefined && other!=''" src="{{other}}" style="float:left;" class="count_20" /><i ng-show="other!=undefined && other!=''" ng-click="clearImg('other')"></i>
                        </div>
                    </dd>
                </dl>
                <dl class="fill_single"><dt>通知邮箱<span class="requiredstyle" ng-show="levelId!=-1">*</span>：</dt><dd><input type="text" ng-model="email" /></dd></dl>
            </div>
            <dl ng-if="AgencyId==0 && !isOpenAddActiveCode &&(levelId==-1 || levelId==1)" class="fill_single"><dt>&nbsp;</dt><dd><a href="javascript:void(0)" class="addcode" ng-click="openAddActiveCode()">添加激活码</a></dd></dl>
            <div ng-show="isOpenAddActiveCode">
                <!--<dl class="fill_single" ng-show="levelId==-1">
                    <dt>激活码区域：</dt>
                    <dd>
                        <select ng-model="provinceAreaId" ng-change="getChildCityAreas()" class="drop-menu">
                            <option value="-1">请选择省份</option>
                            <option ng-repeat="(key, value) in provinceAreas" ng-model="key" value="{{key}}">{{value}}</option>
                        </select>
                        <select ng-show="provinceAreaId!=-1 && provinceAreaId!=0" ng-model="cityAreaId" class="drop-menu">
                            <option value="0">请选择城市</option>
                            <option ng-repeat="(key, value) in cityAreas" ng-model="key" value="{{key}}">{{value}}</option>
                        </select>
                    </dd>
                </dl>-->
                <dl class="fill_single"><dt>数量<span class="requiredstyle">*</span>：</dt><dd><input type="number" ng-model="Total" /></dd></dl>
                <!--<dl class="fill_single"><dt></dt><dd class="text-danger">激活码区域为企业归属地区</dd></dl>-->
            </div>
            <dl ng-show="AgencyId==0" class="fill_single"><dt>&nbsp;</dt><dd class="text-danger">密码为手机号后6位</dd></dl>
            <div class="styleButton">
                <input type="button" value="{{levelId==-1?'保存':'提交审核'}}" ng-disabled="disabled" class="btn btn_confirm" ng-click="saveAgency()">
                <input type="button" value="取消" class="btn btn_cancel" ng-click="close()">
            </div>
        </div>
    </div>
</div>
<!--分配激活码-->
<div class="zhezhao" ng-show="isSplit">
    <div class="cdmxtc_mdiv Mask modal-dialog">
        <div class="styleCurrentLocal"><b>激活码</b>
            <button type="button" class="close" ng-click="closeSplit()">&times;</button>
        </div>
        <div class="styleFillList">
            <dl class="fill_single"><dt>代理<span class="requiredstyle">*</span>：</dt><dd><input type="text" ng-model="SplitCompany" /></dd></dl>
            <!--<dl class="fill_single">
                <dt>激活码性质：</dt>
                <dd>
                    <select ng-model="areaType" class="drop-menu">
                        <option value="-1">请选择激活码性质</option>
                        <option value="0">全国</option>
                        <option value="1">区域</option>
                    </select>
                </dd>
            </dl>-->
            <dl class="fill_single"><dt>全国数量：</dt><dd><input type="number" ng-model="currencyTotal" /></dd></dl>
            <dl class="fill_single"><dt>区域数量：</dt><dd><input type="number" ng-model="regionTotal" /></dd></dl>
            <div class="styleButton">
                <input type="button" value="保存" class="btn btn_confirm" ng-click="splitActiveCode()">
                <input type="button" value="取消" class="btn btn_cancel" ng-click="closeSplit()">
            </div>
        </div>
    </div>
</div>
<!--添加备注-->
<div class="zhezhao" ng-show="isAddRemark">
    <div class="cdmxtc_mdiv Mask modal-dialog">
        <div class="styleCurrentLocal"><b>添加备注</b>
            <button type="button" class="close" ng-click="closeAddRemark()">&times;</button>
        </div>
        <div class="styleFillList">
            <dl class="fill_single"><dt>备注<span class="requiredstyle">*</span>：</dt><dd><input type="text" ng-model="Reamrk" /></dd></dl>
            <div class="styleButton">
                <input type="button" value="保存" class="btn btn_confirm" ng-click="addRemark()">
                <input type="button" value="取消" class="btn btn_cancel" ng-click="closeAddRemark()">
            </div>
        </div>
    </div>
</div>
<!--合并普通账户到企业版-->
<div class="zhezhao" ng-show="isPartnerAddEnterpriseUser">
    <div class="cdmxtc_mdiv Mask modal-dialog">
        <div class="styleCurrentLocal"><b>合并普通账户到企业版</b>
            <button type="button" class="close" ng-click="closePartnerAddEnterpriseUser()">&times;</button>
        </div>
        <div class="styleFillList">
            <dl class="fill_single"><dt>用户手机号：</dt><dd><input type="text" ng-model="memberlogin" style="width:300px" /></dd></dl>
            <div class="styleButton">
                <input type="button" value="保存" class="btn btn_confirm" ng-click="PartnerAddEnterpriseUser()">
                <input type="button" value="取消" class="btn btn_cancel" ng-click="closePartnerAddEnterpriseUser()">
            </div>
        </div>
    </div>
</div>
<!--创建企业版帐号-->
<div class="zhezhao" ng-show="isAddEnterpriseUser">
    <div class=" Mask modal-dialog">
        <div class="styleCurrentLocal"><b>创建企业版帐号</b>
            <button type="button" class="close" ng-click="isCloseEnterpriseUser()">&times;</button>
        </div>
        <div class="styleFillList">

            <dl class="fill_single"><dt>手机号<span class="requiredstyle">*</span>：</dt><dd><input type="number" ng-model="enterpriseUsermobile" style="width:300px" /></dd></dl>
            <dl class="fill_single"><dt>密码<span class="requiredstyle">*</span>：</dt><dd><input type="password" ng-model="pwd" style="width:300px" /></dd></dl>
            <dl class="fill_single"><dt>确认密码<span class="requiredstyle">*</span>：</dt><dd><input type="password" ng-model="confimpwd" style="width:300px" /></dd></dl>
            <div class="styleButton">
                <input type="button" value="保存" class="btn btn_confirm" ng-click="AddEnterpriseUser()">
                <input type="button" value="取消" class="btn btn_cancel" ng-click="isCloseEnterpriseUser()">
            </div>
        </div>
    </div>
</div>
<!--导入企业版用户-->
<div class="zhezhao" ng-show="isImport">
    <form>
        <div class="cdmxtc_mdiv Mask modal-dialog">
            <div class="styleCurrentLocal"><b>导入企业版用户</b>
                <button type="button" class="close" ng-click="closeImport()">&times;</button>
            </div>
            <div class="styleFillList">
                <dl class="fill_single">
                    <dt>数据源<span class="requiredstyle">*</span>：</dt>
                    <dd>
                        <input accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" type="file" ngf-select ng-model="importfile" ngf-max-size="10MB" required
                               ngf-model-invalid="errorFile" style="width: 300px" />
                    </dd>
                </dl>
                <a href="http://resource.ledianduo.com/download/Temp/%E5%AF%BC%E5%85%A5%E4%BC%81%E4%B8%9A%E8%B4%A6%E6%88%B7%E6%A8%A1%E6%9D%BF.xlsx" target="_blank" class="downExcel">下载Execl模板</a>
                <p class="tip tip1">温馨提示：强烈建议先下载模板，根本模板格式进行导入内容</p>
                <div class="styleButton">
                    <input type="button" value="保存" class="btn btn_confirm" ng-click="ImportEnterpriseUser(importfile)">
                    <input type="button" value="取消" class="btn btn_cancel" ng-click="closeImport()">
                </div>
                <span ng-show="success">{{successMsg}}</span>
                <div ng-show="errorCount>0">
                    <a href="{{downloadhref}}" target="_blank" class="downExcel">下载失败数据</a>
                    <!--<a href="javascript:void(0)" ng-click="">取消下载</a>-->
                </div>
                <!--<span ng-show="errormobiles!=''" style="color:red">{{errormobiles}}</span>-->
            </div>
        </div>
    </form>
</div>